---

enabled: {{ grav_language_selector_enabled }}
built_in_css: true
untranslated_pages_behavior: none
button_display: {{ grav_language_selector_button }}
select_display: {{ grav_language_selector_select }}